/*
 * Sidebar
 */

 .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  &.sidebar-dark {
    color: white;
    .nav-link {
      color: white;
      &.active {
        color: map-get($colors, 'primary');
      }
    }
  }
  .nav-link {
    font-weight: 500;
    color: map-get($colors, 'navlink');
    &.active {
      color: map-get($colors, 'link_active');
    }
    &:hover,
    &.active {
      .feather {
        color: inherit;
      }
    }
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: 100vh;
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar__logo {
  width: 100%;
  padding: 0.5rem 1rem;
  img {
    width: 100%;
    max-width: 128px;
  }
}

/* stylelint-disable */

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

/* stylelint-enable */

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}