$colors: (
  primary: #fe414d,
  navlink: #333,
  link_active: #007bff,
  c0: '#ffa8ae',
  c1: '#ff8ad7',
  c2: '#ffc7eb',
  c3: '#ffc194',
  c4: '#ffcd8a',
  c5: '#eaffa8',
  c6: '#afff8f',
  c7: '#8adeff',
  c8: '#a280ff',
  c9: '#b5a8ff'
);